.voyager .navbar.navbar-default .navbar-header .navbar-brand, .voyager .navbar .navbar-header .navbar-brand{
    background: #FDB2B6;
}


.voyager .side-menu.sidebar-inverse {
    
    background: linear-gradient(
12deg, #e9b1b1, #ffffff);
  
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #656565;
}
.voyager .side-menu.sidebar-inverse .navbar li.active>a {
    background: none;
    border-left: 0;
    color: #221d1d;
}